/EventService/bin
/EventService/obj
/TicketService/bin
/TicketService/obj
/VenueService/bin
/VenueService/obj
# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS and IDE folders
.vs/
.idea/
*.code-workspace

# Others
*.log
.env
